{% extends 'base.html' %}
{% block main-content %}
    <div class="container animate-top">
        <div class="container px-4 pt-3" id="hanging-icons">
            <h2 class="pb-2 border-bottom">About Me</h2>
            <p class="pt-2">
                I am an enthusiastic, outcome-oriented software developer with proficient programming skills and possess strong intuitive problem-solving skills equipped with good public communication skills.
                </p>
            <p>
                My experience includes providing optimized solutions for intricate problems and building excellent rapport with new and existing clients. Create and develop custom applications along with user guides and documentation. Conduct team meetings to discuss requirements and also provide critical insights to develop the project.
            </p>
            <p> I believe that the most important thing in life is to try and inspire people so they can be great in whatever they want to do!
            </p>
        </div>
    </div>
    <div class="container animate-bottom">
        <div class="container px-4 py-4" id="hanging-icons">
            <h2 class="pb-2 border-bottom">My Skills</h2>
            <div class="row">
                <div class="container-fluid">
                    <div class="h-100 text-white rounded-3">
                        <img src="/static/images/py.png"
                             class="nav-item navbar-brand icon"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Python"
                             height="60"
                             width="50">
                        <img src="/static/images/html.png"
                             class="nav-item navbar-brand icon"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="HTML"
                             height="60"
                             width="50">
                        <img src="/static/images/css.png"
                             class="nav-item navbar-brand icon"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="CSS"
                             height="60"
                             width="50">
                        <img src="/static/images/js.png"
                             class="nav-item navbar-brand icon"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Javascript"
                             height="60"
                             width="50">
                        <img src="/static/images/boot.png"
                             class="nav-item navbar-brand icon"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Bootstrap"
                             height="60"
                             width="50">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="h-100 text-white rounded-3">
                        <img src="/static/images/dj.png"
                             class="nav-item navbar-brand icon"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Django"
                             height="60"
                             width="50">
                        <img src="/static/images/odoo.png"
                             class="nav-item navbar-brand icon"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Odoo"
                             height="60"
                             width="50">
                        <img src="/static/images/ai.png"
                             class="nav-item navbar-brand icon"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Artificial Intelligence"
                             height="60"
                             width="50">
                        <img src="/static/images/db.png"
                             class="nav-item navbar-brand icon"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Databases"
                             height="60"
                             width="50">
                        <img src="/static/images/git_1.png"
                             class="nav-item navbar-brand icon"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="Git"
                             height="60"
                             width="50">
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock main-content %}
