{% extends 'base.html' %}
{% block main-content %}
    <div class="main-cover">
        <div id="home-cover" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main class="px-3">
                <p class="lead animate-top">Hello! I'm</p>
                <h1 class="animate-top">Abhishek Limkar</h1>
                <p class="lead animate-bottom pt-5">
                    Computer Engineer | Software Developer | AI/ML Enthusiast 
                </p>
                <p class="lead pt-2 animate-bottom">
                    Through constant practice & learning, I produce aesthetic software to an extremely high standard.
                </p>
            </main>
        </div>
    </div>
{% endblock main-content %}
