{% extends 'base.html' %}
{% block main-content %}
    <div class="project-container my-4 blog">
        <div class="row pt-2 animate-top mt-auto">
            <div class="col-sm-3  mx-auto my-2  rounded">
                <div class="py-3 px-2">
                    <a class="nav-link text-white"
                       target="_blank"
                       href="https://apps.odoo.com/apps/modules/15.0/odoo_whatsapp_integration/">
                        <img class="rounded" src="/static/images/wa.png" height="100" width="100">
                    </a>
                    <h5>Whatsapp Odoo Integration</h5>
                    <p>
                        Send whatsapp messages to customer from Odoo
                    </p>
                </div>
            </div>
            <div class="col-sm-3  mx-auto my-2  rounded">
                <div class="py-3 px-2">
                    <a class="nav-link text-white"
                       target="_blank"
                       href="https://apps.odoo.com/apps/modules/15.0/quickbooks_odoo_connector/">
                        <img class="rounded" src="/static/images/qb.png" height="100" width="100">
                    </a>
                    <h5>Quickbooks Odoo Connector</h5>
                    <p>
                        Bi-directional data transfer between Odoo and Quickbooks
                    </p>
                </div>
            </div>
            <div class="col-sm-3  mx-auto my-2  rounded">
                <div class="py-3 px-2">
                    <a class="nav-link text-white"
                       target="_blank"
                       href="https://apps.odoo.com/apps/modules/14.0/indian_gst_calculation/">
                        <img class="rounded" src="/static/images/gst.png" height="100" width="100">
                    </a>
                    <h5>GST Invoice (India)</h5>
                    <p>
                        Calculate GST quickly and send invoices in GST format in just seconds.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="b-divider"></div>
    <div class="project-container my-4 blog">
        <div class="row pt-2 animate-left mt-auto">
            <div class="col-sm-3  mx-auto mt-2  rounded">
                <div class="py-3 px-2">
                    <a class="nav-link text-white"
                       target="_blank"
                       href="https://github.com/aslimkar22/Face-Recognition-using-Python">
                        <img class="rounded" src="/static/images/fr.png" height="100" width="100">
                    </a>
                    <h5 class="nav-link text-white">Face Recognition in Python</h5>
                    <p>
                        A python implementation of face recognition
                    </p>
                </div>
            </div>
            <div class="col-sm-3  mx-auto my-2  rounded">
                <div class="py-3 px-2">
                    <img class="rounded" src="/static/images/cb.png" height="100" width="100">
                    <h5 class="nav-link text-white">AI Chatbot</h5>
                    <p>
                        Designed a responsive FAQ chatbot for user queries
                    </p>
                </div>
            </div>
            <div class="col-sm-3  mx-auto my-2  rounded">
                <div class="py-2 px-2">
                    <a class="nav-link text-white"
                       target="_blank"
                       href="https://github.com/aslimkar22/Image-Classification-using-Machine-Learning">
                        <img class="rounded" src="/static/images/ml.png" height="100" width="100">
                    </a>
                    <h5 class="nav-link text-white">Image Classification using Machine Learning</h5>
                    <p>
                        This project emphasises on using neural networks to design an image classification model.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="b-divider"></div>
    <div class="project-container my-4 blog">
        <div class="row pt-2 animate-right mt-auto">
            <div class="col-sm-3  mx-auto mt-2  rounded">
                <div class="py-3 px-2">
                    <a class="nav-link text-white"
                       target="_blank"
                       href="https://github.com/aslimkar22/Whatsapp-Messenger-in-Python">
                        <img class="rounded" src="/static/images/wa-message.png" height="100" width="150">
                    </a>
                    <h5 class="nav-link text-white">Whatsapp Messenger in Python</h5>
                    <p>
                        Reads phone numbers from CSV file and sends user defined messages to all those numbers on whatsapp.
                    </p>
                </div>
            </div>
            <div class="col-sm-3  mx-auto my-2  rounded">
                <div class="py-3 px-2">
                    <a class="nav-link text-white"
                       target="_blank"
                       href="https://github.com/aslimkar22/Basic-Voice-Assistant">
                        <img class="rounded" src="/static/images/speech.png" height="100" width="150">
                    </a>
                    <h5 class="nav-link text-white">Voice Assistant using Python</h5>
                    <p>
                        Recognises the user voice commands and generates response accordingly
                    </p>
                </div>
            </div>
            <div class="col-sm-3 mx-auto my-2 rounded">
                <div class="py-2 px-2">
                    <a class="nav-link text-white"
                       target="_blank"
                       href="https://apps.odoo.com/apps/modules/15.0/product_bundle_plus/">
                        <img class="rounded" src="/static/images/pbp.png" height="100" width="100">
                    </a>
                    <h5 class="nav-link text-white">Product Bundle Plus</h5>
                    <p>
                    Allows to create a product pack of multiple products and sell them as a unit
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}
